global:
  environment: dev
  namespace: healthcare-dev
  imageRegistry: "acrdev7459df5c.azurecr.io"
  useImagePullSecrets: false   # set true if ACR requires credentials
  acrSecretName: acr-secret    # secret name for private ACR

patientService:
  name: patient-service
  image:
    repository: "patient-service"
    tag: "latest"
  replicaCount: 2
  containerPort: 3000
  resources:
    limits:
      cpu: "500m"
      memory: "512Mi"
    requests:
      cpu: "200m"
      memory: "256Mi"
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 75

appointmentService:
  name: appointment-service
  image:
    repository: "appointment-service"
    tag: "latest"
  replicaCount: 2
  containerPort: 3001
  resources:
    limits:
      cpu: "500m"
      memory: "512Mi"
    requests:
      cpu: "200m"
      memory: "256Mi"
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 75

ingress:
  enabled: true
  className: nginx
  host: healthcare-dev.example.com
  paths:
    - path: /patients
      service: patient-service
      port: 80
    - path: /appointments
      service: appointment-service
      port: 80
